body {
    margin: 0;
    padding: 0;
    background-color: black;
}


.main_img {
    height: 100vh;
    width: auto;
    position: absolute;
}

.photo_credit {
    position: absolute;
    bottom: 15px;
    left: 5px;
    color: white;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.right_side{
    border: 5px white;
    color: white;
    margin-left: auto;
    margin-right: 0;
    height: 100vh;
    width: 66.25vw;
    background-color: black
    position: relative;
}