body {
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: myFirstFont;
    src: url(/home/john/Odin_Project/sign_up_form/THE_SOLSTICE.ttf)
}

@font-face {
    font-family: mySecondFont;
    src: url(/home/john/Odin_Project/sign_up_form/conthrax-sb.ttf);
}

.main_img {
    height: 100vh;
    width: auto;
    position: absolute;
    z-index: 0;
}


.welcome {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    margin-top: 16vh;
    height: 18vh;
    width: 33.75vw;
    font-size: 3rem;
    font-family: myFirstFont;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_credit {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    z-index: 1;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.right_side{
    position: relative;
    border: 5px white;
    color: white;
    margin-left: auto;
    margin-right: 0;
    height: 100vh;
    width: 66.25vw;
    background-color: black;
    position: relative;
    z-index: 2;
    font-family: mySecondFont;
}

.top {
    position: relative;
    top: 15vh;
}

.sum_text, .sum_text_2 {
    text-align: left;
    font-size: 1.5rem;
    padding-left: 75px;
    padding-right: 300px;
    padding-bottom: 20px;
}

.middle{
    position: relative;
    height: 33vh;
    width: auto;
    background-color: rgb(7, 7, 7);
    margin-top: 60px;
    box-shadow: 10px 5px 30px rgb(36, 36, 36);
    padding: 25px;
    top: 15vh;
}

.inputs {
    display: flex;
    flex-direction: row;

}

.leftForm, .rightForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 25px;
    margin-right: 40px;
    width: 20rem;
    height: 25px;
    font-size: larger;
    font-family: mySecondFont;
    border-radius: 15px;
    background-color: #3d0309;
    color: white;
    border: 0px;
}

label {
    padding-left: 10px;
}

.submitButton {
    position: absolute;
    z-index: 3;
    bottom: -15vh;
    left: 45px;
}

button {
    background-color: #3d0309;
    border: 0;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    font-family: mySecondFont;
    color: white;
    font-size:large;
}

.signIn{
    top: 80px;
    font-size: small;
}